body{
  height: 100vh;
  overflow: hidden;
  background-image: url("/Home BG.png");
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

